<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class = login-container>
        <form onsubmit="Login(event)" action="'/" method="POST">
            <label>Enter Your Email</label><br>
            <input class="Email" type="email"  name="email" required><br>
            <label>Enter Your Password</label><br>
            <input class="Pass" type="password" name="password" required><br><br>
            <button type="submit">Login</button><br><br>
        </form>
    </div>
    <a href="http://localhost:3000/users/signup"> New User? SignUp</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        function Login(event){
            event.preventDefault(event);
            
            const email = event.target.email.value;
            const password = event.target.password.value;

            const obj = {
                email,
                password
            }
            axios.post('http://localhost:3000/users/login',obj)
            .then((response)=>{
                
                if(response.status === 201){
                    document.body.innerHTML +=`<div style='color:green'>User Login Succesfull! </div>`;
                }
                
                else if(response.status === 207){
                    document.body.innerHTML += `<div style='color:red'>User Not Found! </div>`;
                    alert('user not found')
                }
                else{
                    throw new Error("Something went Wrong")
                }
                
            

            }).catch(err => {
        console.log(JSON.stringify(err))
        document.body.innerHTML += `<div style="color:red;">Incorrect Password! <div>`;
    })
            
            

        }
    </script>
</body>
</html>