<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form id="SignUp" onsubmit="userDetails(event)" action="/" method="POST">
        <label>Username</label><br>
        <input type="text" id="name" required name="name"><br>
        <label>Email</label><br>
        <input type="email" id="email" name="email" required><br>
        <label>Password</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Sign Up</button><br><br>
    </form>
    <a href="http://localhost:3000/users/login">Already an User? - Login</a>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script>
        function userDetails(event){
            event.preventDefault(event);
            const username = event.target.name.value;
            const email = event.target.email.value;
            const password = event.target.password.value

            const obj = {
                username,
                email,
                password
            }

            axios.post('http://localhost:3000/users/signup' , obj)
            .then((response)=>{
                document.body.innerHTML += `<div style ='color:green;'>${alert('Successfully created new user!')} </div>`;
                window.location.href='http://localhost:3000/users/login';
            })
            .catch((err)=>{
                document.body.innerHTML += `<div style ='color:red;'>${'Email Id already registerd- please try to Login'} </div>`;
            })


        }
    </script>
</body>
</html>
